In [110]:
import pandas as pd

# Path to the XLSX file
xlsx_file = 'RunOffResults.xlsx'

# Read the XLSX file into a dataframe, specifying the sheet name
df = pd.read_excel(xlsx_file, sheet_name='Sheet1', header=None)

# Print the dataframe
print(df)

# Rename the "Score1" and "Score2" columns
df = df.rename(columns={0: 'Values', 1: 'Columns', 2: 'Index'})

                  0  1    2
0    Appling County  1    1
1             0.195  2    1
2              1222  3    1
3             0.805  4    1
4              5043  5    1
..              ... ..  ...
949           0.257  2  159
950            1759  3  159
951           0.743  4  159
952            5096  5  159
953            0.99  6  159

[954 rows x 3 columns]

In [111]:
# Print the dataframe
print(df)

             Values  Columns  Index
0    Appling County        1      1
1             0.195        2      1
2              1222        3      1
3             0.805        4      1
4              5043        5      1
..              ...      ...    ...
949           0.257        2    159
950            1759        3    159
951           0.743        4    159
952            5096        5    159
953            0.99        6    159

[954 rows x 3 columns]

In [112]:
# Reshape the dataframe so that each row is ranked 1-5 and separated into columns based on rank
df_wide = df.pivot(index='Index', columns='Columns', values='Values')

# Print the reshaped dataframe
print(df_wide.head(12))

Columns                1      2      3      4      5     6
Index
1         Appling County  0.195   1222  0.805   5043  0.99
2        Atkinson County  0.241    485  0.759   1524  0.99
3           Bacon County  0.126    440  0.874   3047  0.99
4           Baker County  0.424    480  0.576    651  0.99
5         Baldwin County  0.506   7007  0.494   6854  0.99
6           Banks County  0.107    698  0.893   5828  0.99
7          Barrow County  0.293   7449  0.707  17945  0.99
8          Bartow County  0.242   8546  0.758  26739  0.99
9        Ben Hill County  0.362   1718  0.638   3022  0.99
10        Berrien County  0.152    843  0.848   4706  0.99
11           Bibb County  0.627  30744  0.373  18318  0.99
12       Bleckley County  0.226   1011  0.774   3456  0.99

In [113]:
df_wide = df_wide.rename(columns={1:'County', 2: 'Warnock %', 3:'Warnock', 4:'Walker %', 5:'Walker', 6:'Perct. Counted' })

# Print the reshaped dataframe
print(df_wide)

Columns            County Warnock % Warnock Walker % Walker Perct. Counted
Index
1          Appling County     0.195    1222    0.805   5043           0.99
2         Atkinson County     0.241     485    0.759   1524           0.99
3            Bacon County     0.126     440    0.874   3047           0.99
4            Baker County     0.424     480    0.576    651           0.99
5          Baldwin County     0.506    7007    0.494   6854           0.99
...                   ...       ...     ...      ...    ...            ...
155      Whitfield County     0.255    6055    0.745  17716           0.99
156         Wilcox County     0.258     615    0.742   1765           0.99
157         Wilkes County     0.419    1609    0.581   2228           0.99
158      Wilkinson County     0.444    1678    0.556   2105           0.99
159          Worth County     0.257    1759    0.743   5096           0.99

[159 rows x 6 columns]

In [114]:
df_wide = df_wide.drop(columns=['Perct. Counted', 'Warnock %', 'Walker %'])
                       
# Print the reshaped dataframe
print(df_wide)

Columns            County Warnock Walker
Index
1          Appling County    1222   5043
2         Atkinson County     485   1524
3            Bacon County     440   3047
4            Baker County     480    651
5          Baldwin County    7007   6854
...                   ...     ...    ...
155      Whitfield County    6055  17716
156         Wilcox County     615   1765
157         Wilkes County    1609   2228
158      Wilkinson County    1678   2105
159          Worth County    1759   5096

[159 rows x 3 columns]

In [115]:
df_wide = df_wide.set_index('County')


# Print the reshaped dataframe
print(df_wide)

Columns          Warnock Walker
County
Appling County      1222   5043
Atkinson County      485   1524
Bacon County         440   3047
Baker County         480    651
Baldwin County      7007   6854
...                  ...    ...
Whitfield County    6055  17716
Wilcox County        615   1765
Wilkes County       1609   2228
Wilkinson County    1678   2105
Worth County        1759   5096

[159 rows x 2 columns]

In [116]:
df_long = df_wide.stack()

# Print the reshaped dataframe
print(df_long)

County            Columns
Appling County    Warnock    1222
                  Walker     5043
Atkinson County   Warnock     485
                  Walker     1524
Bacon County      Warnock     440
                             ...
Wilkes County     Walker     2228
Wilkinson County  Warnock    1678
                  Walker     2105
Worth County      Warnock    1759
                  Walker     5096
Length: 318, dtype: object

In [118]:
df_long.to_csv('Runoff_Election_Results2.csv')